.shadow1 {
    width: 200px;
    height: 200px;
    box-shadow: 20px 15px 27px 3px rgba(92, 92, 92, 0.7);
    background-color: aquamarine;
}

.shadow2 {
    width: 300px;
    height: 300px;
    box-shadow: 30px 10px 15px 5px rgba(111, 83, 83, 0.5);
    background-color: blueviolet;
    margin-top: 20px;
}

.text1 {
    text-shadow: 5px 10px 3px rgba(23, 45, 55, 0.65);
    margin-top: 40px;
}

.text2 {
    text-shadow: 10px 15px 3px rgba(58, 143, 182, 0.99);
    margin-top: 40px;
}

.element1 {
    background: radial-gradient(circle, red, yellow, green);
    width: 300px;
    height: 300px;
    margin-top: 20px;
}

.element2 {
    background: radial-gradient(ellipse, aquamarine, blueviolet, crimson);
    width: 500px;
    height: 500px;
    margin-top: 50px;
}

.element3 {
    background: linear-gradient(to left, blueviolet, crimson);
    width: 300px;
    height: 300px;
    margin-top: 20px;
}

.element4 {
    background: linear-gradient(45deg, aquamarine, crimson);
    width: 500px;
    height: 500px;
    margin-top: 50px;
}
