.box1 {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    animation: bounce 1s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

.box2 {
    width: 300px;
    height: 300px;
    background-color: blue;
    animation: bounce1 2s infinite;
    margin-top: 50px;
}

@keyframes bounce1 {

    0%,
    30%,
    50%,
    70%,
    85%,
    100% {
        transform: rotateY(0);
    }

    40% {
        transform: rotateY(80deg);
    }

    80% {
        transform: rotateY(160deg);
    }
}

.box3 {
    width: 250px;
    height: 250px;
    background-color: blueviolet;
    animation: bounce3 3s infinite;
    margin-top: 50px;
}

@keyframes bounce3 {

    0%,
    30%,
    60%,
    80%,
    100% {
        transform: scale(1);
    }

    40% {
        transform: scale(0.5);
    }

    75% {
        transform: scale(3);
    }
}

.box4 {
    width: 250px;
    height: 250px;
    background-color: rgb(182, 180, 185);
    animation: bounce4 3s infinite;
    margin-top: 50px;
}

@keyframes bounce4 {

    0%,
    30%,
    60%,
    80%,
    100% {
        transform: skew(0deg, 0deg);
    }

    40% {
        transform: skew(20deg, 15deg);
    }

    75% {
        transform: skew(10deg, 25deg);
    }
}

.box5 {
    width: 250px;
    height: 250px;
    background-color: crimson;
    margin-top: 50px;
    transition: 1s;
}
.box5:hover{
    transform: scale(2);
}